# varibales naming conventions

In [3]:
[myname]=("ali")
print((myname))
#variables wont work with square brackets
#variable name cannot be written in quotes

ValueError: too many values to unpack (expected 1)

In [4]:
var="my name is shahtaj"
type(var)

str

In [6]:
integer=1000
type(integer)
type("integer")
#in that way variables name cant be written in quotes

str

In [9]:
integer_st=str(1000)
type(integer_st)
#str is the function to convert int into strng
print(type(integer_st))

<class 'str'>

In [10]:
num=22+3
print(num)
#you can add operations in the varibale

25

In [11]:
new_num= num+5
print(new_num)

30

In [14]:
num1=100
num2=200
num3=300
num4=num1+num2+num3
print(num4)

600

In [15]:
1+2*5
#operations hiearchy
# * or / > + or -

11

In [16]:
2*(5+1)

12

# number operation

In [17]:
# % modular operator
# it returns the remainder
#modulus

In [19]:
3 % 2
#inference is valid for even number
# N/e-> remainder=0
#conditional testing application

1